.job-heading-box {
    display: flex;
    gap: 0.5rem;
}

.job-heading-box>img {
    width: 1.563rem;
    height: 2.5rem;
}

.job-heading-info-company {
    font-size: 0.813rem;
    font-weight: 600;
    letter-spacing: 0.063rem;
    margin-bottom: 0.188rem;
    color: #8b8b8b;
}

.job-heading-info-role {
    font-size: 0.875rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.job-heading-info-location {
    font-size: 0.688rem;
    font-weight: 500;
    margin-top: 0.313rem;
    text-transform: capitalize;
}