.job-card-box {
    border-radius: 1.25rem !important;
    padding: 0.313rem !important;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    max-width: 22.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.063rem 0.25rem 0 !important;
}

.job-card-tags {
    display: flex;
    align-items: flex-start;
    padding: 0.313rem 0.625rem;
    flex-wrap: wrap;
    gap: 0.313rem;
    width: 100%;
    flex: 1 1 0%;
}

.job-card-section {
    flex: 1 1 0%;
    padding: 0.5rem 1rem;
}

.job-card-about-title {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 0.5rem;
}

.job-card-about-sub-title {
    white-space: pre-wrap;
    font-size: 0.875rem;
}

.job-card-about {
    height: 14rem;
    overflow: hidden;
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    font-size: 0.875rem;
}